body {
  font-size:13px;
  text-align:center
}
#dhead {
  margin-top:20px;
  height:20px;
  background-color:#FFDEE9;
}

#person {
  height:20px;
}

p.rank {
  float:left;
  width:10%;
}

p.name {
  float:left;
  width:45%;
}

p.count {
  float:left;
  width:45%;
}
